@font-face {
	font-family: 'Open Sans';
	src: url('~assets/fonts/opensans-light-webfont.woff2') format('woff2'),
		url('~assets/fonts/opensans-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('~assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('~assets/fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('~assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('~assets/fonts/opensans-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('~assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
		url('~assets/fonts/opensans-extrabold-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

//   FIRA MONO

@font-face {
	font-family: 'Fira Mono';
	src: url('~assets/fonts/FiraMono-Regular.woff') format('woff'),
		url('~assets/fonts/FiraMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('~assets/fonts/FiraMono-Medium.woff') format('woff'),
		url('~assets/fonts/FiraMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('~assets/fonts/FiraMono-Bold.woff') format('woff'),
		url('~assets/fonts/FiraMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
