<template>
	<code class="hljs" :class="{ 'no-wrap': !wrap }"><slot /></code>
</template>

<script>
export default {
	props: {
		script: String,
		wrap: {
			type: Boolean,
			default: false,
			required: false
		}
	}
}
</script>

<style lang="scss" scoped>
.hljs {
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;
	padding: 0.5em;

	.tag {
		color: #be4678;
	}

	.attribute {
		color: #2a9292;
	}

	.tab-1 {
		margin-left: 1 * 24px;
	}

	.tab-2 {
		margin-left: 2 * 24px;
	}

	.tab-3 {
		margin-left: 3 * 24px;
	}

	.tab-4 {
		margin-left: 4 * 24px;
	}
}
</style>
