<template>
	<header class="header bg-primary">
		<button class="menu-button" @click="toggleSidebar">
			<i class="bzi bzi-bars" />
		</button>
		<div class="logo">
			<NuxtLink to="/" class="logo__link text-white font-fira">
				<img src="../assets/img/baze-flat-icon.png" alt="baze" />
				<h3>Suitbaze</h3>
			</NuxtLink>
		</div>
		<div class="mr-16">
			<a
				href="https://github.com/suitmedia/generator-suit-baze"
				target="_blank"
				rel="noopener noreferrer"
			>
				<img src="../assets/img/github.png" class="github" alt="github" />
			</a>
		</div>
	</header>
</template>

<script>
export default {
	props: {
		toggleSidebar: Function
	}
}
</script>

<style lang="scss" scoped>
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 10px #333333;
	z-index: 8;
	display: flex;
	height: 56px;
	gap: 16px;
	align-items: center;
	justify-content: space-between;

	.menu-button {
		width: 56px;
		height: 56px;
		border: none;
		background: black;
		color: white;
		cursor: pointer;

		@include mq(768px) {
			display: none;
		}
	}

	.logo {
		flex: 1;
		margin-left: 16px;

		.logo__link {
			display: flex;
			align-items: center;
			gap: 12px;

			&:hover {
				color: #e6e6e6;
			}

			h3 {
				margin: 0;
			}
		}
	}

	.github {
		width: 24px;
		height: 24px;
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}
}
</style>
