<template>
	<div v-if="show" @click="toggleSidebar" class="sidebar-overlay"></div>
</template>

<script>
export default {
	props: {
		show: Boolean,
		toggleSidebar: Function
	}
}
</script>

<style lang="scss" scoped>
.sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 4;

	@include mq(768px) {
		display: none;
	}
}
</style>
