<template>
	<aside class="sidebar" :class="{ 'sidebar-show': show }">
		<ul class="list-nostyle mt-8">
			<li v-for="navLink in navLinks" :key="navLink.text">
				<NuxtLink :to="navLink.to" class="sidebar__link">{{
					navLink.text
				}}</NuxtLink>
			</li>
		</ul>
	</aside>
</template>

<script>
export default {
	data() {
		return {
			path: this.$route.path,
			navLinks: [
				{ text: 'Get Started', to: '/get-started' },
				{ text: 'Headings', to: '/headings' },
				{ text: 'Colors', to: '/colors' },
				{ text: 'Lists', to: '/lists' },
				{ text: 'Text alignment', to: '/text-alignment' },
				{ text: 'Buttons', to: '/buttons' },
				{ text: 'Alert', to: '/alert' },
				{ text: 'Card', to: '/card' },
				{ text: 'Media Object', to: '/media-object' },
				{ text: 'Grid', to: '/grid' },
				{ text: 'Table', to: '/table' },
				{ text: 'Form', to: '/form' }
			]
		}
	},
	props: {
		show: Boolean
	}
}
</script>

<style lang="scss" scoped>
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 214px;
	height: 100%;
	margin-top: 56px;
	border-right: 1px solid #ccc;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	z-index: 5;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	background-color: white;

	@include mq(768px) {
		transform: translateX(0);
	}

	.sidebar__link {
		padding: 8px 8px 8px 24px;
		color: black;
		display: block;

		&.active {
			font-weight: 600;
			background: #e6e6e6;
		}
	}

	&.sidebar-show {
		transform: translateX(0);
	}
}
</style>
