<template>
	<div>
		<Header :toggleSidebar="toggleSidebar" />
		<Sidebar :show="isSidebarOpen" />
		<SidebarOverlay :show="isSidebarOpen" :toggleSidebar="toggleSidebar" />
		<div class="main-container">
			<nuxt />
			<footer class="container pb-32">
				© {{ new Date().getFullYear() }} Suitmedia
			</footer>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isSidebarOpen: true
		}
	},
	methods: {
		toggleSidebar() {
			this.isSidebarOpen = !this.isSidebarOpen
		}
	}
}
</script>

<style lang="scss" scoped>
.main-container {
	padding-top: 80px;

	@include mq(768px) {
		margin-left: 215px;
	}

	@include mq(1024px) {
		padding-top: 120px;
	}
}
</style>
