<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Buttons</h2>
			<p>
				<button class="btn--blue">Button Color</button>
				<button class="btn--ghost-blue">Button Color</button>
				<button class="btn--flat-blue">Button Color</button>
			</p>
			<p>
				<button class="btn--dark-grey">Button Color</button>
				<button class="btn--ghost-dark-grey">Button Color</button>
				<button class="btn--flat-dark-grey">Button Color</button>
			</p>
			<p>
				<button class="btn--yellow">Button Color</button>
				<button class="btn--ghost-yellow">Button Color</button>
				<button class="btn--flat-warning">Button Color</button>
			</p>
			<p>
				<button class="btn--red">Button Color</button>
				<button class="btn--ghost-red">Button Color</button>
				<button class="btn--flat-red">Button Color</button>
			</p>
			<p>
				<button class="btn--black">Button Color</button>
				<button class="btn--ghost-black">Button Color</button>
				<button class="btn--flat-black">Button Color</button>
			</p>
			<p>
				<button class="btn--light-grey">Button Color</button>
				<button class="btn--ghost-light-grey">Button Color</button>
				<button class="btn--flat-light-grey">Button Color</button>
			</p>
			<p>
				<button class="btn--white">Button Color</button>
				<button class="btn--ghost-white">Button Color</button>
				<button class="btn--flat-white">Button Color</button>
			</p>
			<Code>
				<table>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--blue"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--flat-blue"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--ghost-blue"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--dark-grey"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--flat-dark-grey"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--ghost-dark-grey"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--yellow"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--flat-yellow"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--ghost-yellow"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--red"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--flat-red"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--ghost-red"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--black"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--flat-black"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--ghost-black"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--light-grey"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--flat-light-grey"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--ghost-light-grey"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--white"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--flat-white"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--ghost-white"</span
							>&gt;</span
						>
						<span>Button Color</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Button Sizing</h2>
			<p>
				<button class="btn--blue btn--small">Small Button</button>
				<button class="btn--ghost-blue btn--small">Small Button</button>
				<button class="btn--flat-blue btn--small">Small Button</button>
			</p>
			<p>
				<button class="btn--blue">Normal Button</button>
				<button class="btn--ghost-blue">Normal Button</button>
				<button class="btn--flat-blue">Normal Button</button>
			</p>
			<p>
				<button class="btn--blue btn--large">Large Button</button>
				<button class="btn--ghost-blue btn--large">Large Button</button>
				<button class="btn--flat-blue btn--large">Large Button</button>
			</p>
			<Code>
				<table>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--blue btn--small"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--flat-blue btn--small"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--ghost-blue btn--small"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--blue"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--flat-blue"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute">"btn--ghost-blue"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;p&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--blue btn--large"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--flat-blue btn--large"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tab-1 tag"
							>&lt;button class=<span class="attribute"
								>"btn--ghost-blue btn--large"</span
							>&gt;</span
						>
						<span>Small Button</span>
						<span class="tag">&lt;/button&gt;</span>
					</tr>
					<tr>
						<span class="tag">&lt;/p&gt;</span>
					</tr>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Icon-only Buttons</h2>
			<p>
				<button class="btn--blue btn--small btn--icon">
					<i class="fas fa-search fa-sm"></i>
				</button>
				<button class="btn--ghost-black btn--small btn--icon">
					<i class="fas fa-times fa-sm"></i>
				</button>
				<button class="btn--flat-light-grey btn--small btn--icon">
					<i class="fas fa-user fa-sm"></i>
				</button>
			</p>
			<p>
				<button class="btn--blue btn--icon">
					<i class="fas fa-user"></i>
				</button>
				<button class="btn--ghost-black btn--icon">
					<i class="fas fa-search"></i>
				</button>
				<button class="btn--flat-light-grey btn--icon">
					<i class="fas fa-times"></i>
				</button>
			</p>
			<p>
				<button class="btn--blue btn--large btn--icon">
					<i class="fas fa-times fa-lg"></i>
				</button>
				<button class="btn--ghost-black btn--large btn--icon">
					<i class="fas fa-user fa-lg"></i>
				</button>
				<button class="btn--flat-light-grey btn--large btn--icon">
					<i class="fas fa-search fa-lg"></i>
				</button>
			</p>
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag">&lt;p&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-search fa-sm"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--flat-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-times fa-sm"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--ghost-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-user fa-sm"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/p&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag">&lt;p&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-search"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--flat-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-search"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--ghost-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-times"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/p&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag">&lt;p&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-times fa-lg"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--flat-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-user fa-lg"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--ghost-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-search fa-lg"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/p&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Icon + Text Buttons</h2>
			<p>
				<button class="btn--blue btn--small">
					Search <i class="fas fa-search"></i>
				</button>
				<button class="btn--ghost-black btn--small">
					<i class="fas fa-times"></i> Cancel
				</button>
				<button class="btn--flat-light-grey btn--small">
					Profile <i class="fas fa-user"></i>
				</button>
			</p>
			<p>
				<button class="btn--blue"><i class="fas fa-user"></i> Profile</button>
				<button class="btn--ghost-black">
					Search <i class="fas fa-search"></i>
				</button>
				<button class="btn--flat-light-grey">
					<i class="fas fa-times"></i> Cancel
				</button>
			</p>
			<p>
				<button class="btn--blue btn--large">
					Cancel <i class="fas fa-times"></i>
				</button>
				<button class="btn--ghost-black btn--large">
					<i class="fas fa-user"></i> Profile
				</button>
				<button class="btn--flat-light-grey btn--large">
					<i class="fas fa-search"></i> Search
				</button>
			</p>
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag">&lt;p&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								><span class="text-black">Search </span>&lt;i class=<span
									class="attribute"
									>"fas fa-search fa-sm"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--flat-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-times fa-sm"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span
							><span class="text-black"> Cancel</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--ghost-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								><span class="text-black">Profile </span>&lt;i class=<span
									class="attribute"
									>"fas fa-user fa-sm"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/p&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag">&lt;p&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-search"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span
							><span class="text-black"> Profile</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--flat-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								><span class="text-black">Search </span>&lt;i class=<span
									class="attribute"
									>"fas fa-search"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--ghost-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-times"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span
							><span class="text-black"> Cancel</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/p&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag">&lt;p&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								><span class="text-black">Cancel </span>&lt;button class=<span
									class="attribute"
									>"btn--blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-times fa-lg"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--flat-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-user fa-lg"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span>
							<span class="text-black"> Profile</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;button class=<span class="attribute"
									>"btn--ghost-blue btn--small btn--icon"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;i class=<span class="attribute">"fas fa-search fa-lg"</span
								>&gt;</span
							>
							<span class="tag">&lt;/i&gt;</span
							><span class="text-black"> Search</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/button&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/p&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style></style>
