<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Alert Box</h2>
			<div class="card-group">
				<div class="card--primary mb-12">
					<div class="card--header">Card header</div>
					<img
						class="card--image"
						src="../assets/img/baze-flat-icon.png"
						alt=""
					/>
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
				<div class="card--secondary mb-12">
					<div class="card--header">Card header</div>
					<img
						class="card--image"
						src="../assets/img/baze-flat-icon.png"
						alt=""
					/>
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
				<div class="card--light-grey mb-12">
					<div class="card--header">Card header</div>
					<img
						class="card--image"
						src="../assets/img/baze-flat-icon.png"
						alt=""
					/>
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
							rerum nihil laboriosam, architecto sequi dolor doloribus impedit
							totam voluptatibus earum vel exercitationem quas commodi. Quidem,
							fugit corrupti beatae accusantium!
						</p>
					</div>
				</div>
				<div class="card mb-12">
					<img
						class="card--image"
						src="../assets/img/baze-flat-icon.png"
						alt=""
					/>
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
							rerum nihil laboriosam, architecto sequi dolor doloribus impedit
							totam voluptatibus earum vel exercitationem quas commodi. Quidem,
							fugit corrupti beatae accusantium!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<Code>Not available at the moment</Code>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style></style>
