<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Text Color</h2>
			<p class="text-blue">Text class color = ".text-blue"</p>
			<p class="text-dark-grey">Text class color = ".dark-grey"</p>
			<p class="text-yellow">Text class color = ".text-yellow"</p>
			<p class="text-red">Text class color = ".text-red"</p>
			<p class="text-black">Text class color = ".text-black"</p>
			<p class="text-light-grey">Text class color = ".text-light-grey"</p>
			<p class="text-white">Text class color = ".text-white"</p>
			<Code>
				<table>
					<tbody>
						<tr v-for="(color, index) in textColor" :key="index">
							<span class="tag"
								>&lt;p
								<span
									>class=<span class="attribute"
										>"{{ color.class }}"</span
									></span
								>&gt;</span
							>Text class color = ".text-blue"<span class="tag"
								>&lt;/p&gt;</span
							>
						</tr>
					</tbody>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Background Color</h2>
			<p class="bg-blue">Background class color = ".bg-primary"</p>
			<p class="bg-dark-grey">Background class color = ".bg-secondary"</p>
			<p class="bg-yellow">Background class color = ".bg-yellow"</p>
			<p class="bg-red">Background class color = ".bg-red"</p>
			<p class="bg-black">Background class color = ".bg-black"</p>
			<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
			<p class="bg-white">Background class color = ".bg-white"</p>
			<Code>
				<table>
					<tbody>
						<tr v-for="(color, index) in bgColor" :key="index">
							<span class="tag"
								>&lt;p
								<span
									>class=<span class="attribute"
										>"{{ color.class }}"</span
									></span
								>&gt;</span
							>Text class color = ".text-blue"<span class="tag"
								>&lt;/p&gt;</span
							>
						</tr>
					</tbody>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Black Tones</h2>
			<p class="text-black10">Black tone = ".text-black10" ($black10)"</p>
			<p class="text-black20">Black tone = ".text-black10" ($black20)"</p>
			<p class="text-black30">Black tone = ".text-black10" ($black30)"</p>
			<p class="text-black40">Black tone = ".text-black10" ($black40)"</p>
			<p class="text-black50">Black tone = ".text-black10" ($black50)"</p>
			<p class="text-black60">Black tone = ".text-black10" ($black60)"</p>
			<p class="text-black70">Black tone = ".text-black10" ($black70)"</p>
			<p class="text-black80">Black tone = ".text-black10" ($black80)"</p>
			<p class="text-black90">Black tone = ".text-black10" ($black90)"</p>
			<p class="text-black">Black tone = ".text-black" ($black)"</p>
			<Code>
				<table>
					<tbody>
						<tr v-for="(color, index) in blackTones" :key="index">
							<span class="tag"
								>&lt;p
								<span
									>class=<span class="attribute"
										>"{{ color.class }}"</span
									></span
								>&gt;</span
							>Text class color = ".text-blue"<span class="tag"
								>&lt;/p&gt;</span
							>
						</tr>
					</tbody>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Link Color</h2>
			<p>
				Link color =<span class="link-blue">
					".link-primary" (Default link color)"
				</span>
			</p>
			<p>
				Link color =<span class="link-blue">
					".link-primary" (Default link color)"
				</span>
			</p>
			<p>Link color =<span class="link-blue"> ".link-secondary" </span></p>
			<p>Link color =<span class="link-blue"> ".link-warning" </span></p>
			<p>Link color =<span class="link-blue"> ".link-danger" </span></p>
			<p>Link color =<span class="link-blue"> ".link-black" </span></p>
			<p>Link color =<span class="link-blue"> ".link-light-grey" </span></p>
			<p>Link color =<span class="link-blue"> ".link-white" </span></p>
			<Code>
				<table>
					<tbody>
						<tr v-for="(color, index) in linkColor" :key="index">
							<span class="tag"
								>&lt;p
								<span
									>class=<span class="attribute"
										>"{{ color.class }}"</span
									></span
								>&gt;</span
							>Text class color = ".text-blue"<span class="tag"
								>&lt;/p&gt;</span
							>
						</tr>
					</tbody>
				</table>
			</Code>
			<hr />
		</div>
	</main>
</template>

<script>
import { colors } from '../assets/contents'
export default {
	data() {
		return {
			...colors
		}
	}
}
</script>

<style></style>
