<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Environment</h2>
			<ul>
				<li>
					<p>
						<strong>NodeJS</strong> versi 8 ke atas. Node harus di-install
						sebelum meng-install lainnya.
					</p>
					<p>
						<a
							href="https://nodejs.org/en/"
							target="_blank"
							rel="noopener noreferrer"
							>Install</a
						>
						|
						<a
							href="https://nodejs.org/dist/latest-v4.x/docs/api/"
							target="_blank"
							rel="noopener noreferrer"
							>Dokumentasi</a
						>
					</p>
				</li>
				<li>
					<p>
						<strong>Yeoman.</strong> Jalankan perintah di bawah di command
						prompt.
					</p>
					<Code>npm i -g yo</Code>
				</li>
				<li>
					<p>
						<strong>Gulp.</strong> Jalankan perintah di bawah di command prompt.
					</p>
					<Code>npm i -g yo</Code>
				</li>
				<li>
					<p>
						<strong>Git</strong>
					</p>
					<p>
						<a
							href="http://www.git-scm.com/download/"
							target="_blank"
							rel="noopener noreferrer"
							>Install</a
						>
						|
						<a
							href="https://github.s3.amazonaws.com/media/progit.en.pdf"
							target="_blank"
							rel="noopener noreferrer"
							>Pro Git (PDF)</a
						>
					</p>
				</li>
				<li>
					<p>
						<strong>XAMPP</strong>
					</p>
					<p>
						<a
							href="https://www.apachefriends.org/index.html"
							target="_blank"
							rel="noopener noreferrer"
							>Install</a
						>
					</p>
				</li>
				<li>
					<p>
						<strong>Generator Baze</strong>
					</p>
					<p>
						Install generator baze dengan menjalankan perintah di bawah ini.
					</p>
					<Code>npm install generator-baze -g</Code>
					<p>Untuk install ke dalam project frontend, jalankan</p>
					<Code>yo baze</Code>
				</li>
			</ul>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.font-fira {
	font-family: $font-mono;
}
</style>
