<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Default Grid</h2>
			<div>
				<div class="bzg">
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
				</div>
				<div class="bzg">
					<div class="bzg_c" data-col="m4">
						<div class="text-center text-white bg-primary">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center text-white bg-primary">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center text-white bg-primary">bzg_c m4</div>
					</div>
				</div>
			</div>
			<br />
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute">"bzg"</span>&gt;</span
							>
						</tr>
						<tr v-for="number in 4" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m3"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m3<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute">"bzg"</span>&gt;</span
							>
						</tr>
						<tr v-for="number in 3" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m4"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m4<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">No-Gutter Grid</h2>
			<div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center text-white bg-primary">bzg_c m1</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center text-white bg-primary">bzg_c m3</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m4">
						<div class="text-center text-white bg-primary">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center text-white bg-primary">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center text-white bg-primary">bzg_c m4</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m6">
						<div class="text-center text-white bg-primary">bzg_c m6</div>
					</div>
					<div class="bzg_c" data-col="m6">
						<div class="text-center text-white bg-primary">bzg_c m6</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m7">
						<div class="text-center text-white bg-primary">bzg_c m7</div>
					</div>
					<div class="bzg_c" data-col="m5">
						<div class="text-center text-white bg-primary">bzg_c m5</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m12">
						<div class="text-center text-white bg-primary">bzg_c m12</div>
					</div>
				</div>
			</div>
			<br />
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr v-for="number in 12" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m1"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m1<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr v-for="number in 6" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m2"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m2<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr v-for="number in 4" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m3"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m3<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr v-for="number in 3" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m4"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m4<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr v-for="number in 2" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m6"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m6<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m7"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m7<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m5"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m5<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m12"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m12<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Grid with Offset</h2>
			<div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m2">
						<div class="text-center text-white bg-primary">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m5" data-offset="m5">
						<div class="text-center text-white bg-primary">
							bzg_c m5 offset=m5
						</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m3" data-offset="m3">
						<div class="text-center text-white bg-primary">
							bzg_c m3 offset=m3
						</div>
					</div>
					<div class="bzg_c" data-col="m3" data-offset="m3">
						<div class="text-center text-white bg-primary">
							bzg_c m3 offset=m3
						</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m6" data-offset="m3">
						<div class="text-center text-white bg-primary">
							bzg_c m6 offset=m3
						</div>
					</div>
				</div>
			</div>
			<br />
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m2"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m2<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m5"</span>data-offset=<span
									class="attribute"
									>"m5"</span
								>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m5 offset=m5<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr v-for="number in 2" :key="number">
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m3" </span>data-offset=<span
									class="attribute"
									>"m3"</span
								>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m3 offset=m3<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"m6" </span>data-offset=<span
									class="attribute"
									>"m3"</span
								>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c m6 offset=m3<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Responsive Grid</h2>
			<div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="s12,m9,l6">
						<div class="text-center text-white bg-primary">bzg_c s12,m9,l6</div>
					</div>
					<div class="bzg_c" data-col="s6,m3,l6">
						<div class="text-center text-white bg-primary">bzg_c s6,m3,l6</div>
					</div>
				</div>
			</div>
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"bzg bzg--no-gutter"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"s12,m9,l6"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c s12,m9,l6<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag"
								>&lt;div class=<span class="attribute">"bzg_c" </span
								>data-col=<span class="attribute">"s6,m3,l6"</span>&gt;</span
							>
							<span class="tag"
								>&lt;div class=<span class="attribute"
									>"text-center bg-primary text-white"</span
								>&gt;</span
							>bzg_c s6,m3,l6<span class="tag">&lt;/div&gt;</span>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style></style>
