<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Heading</h2>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
			<div class="f-14">
				<Code>
					<div v-for="number in 6" :key="number">
						<span class="tag">&lt;h{{ number }}&gt;</span>Heading {{ number
						}}<span class="tag">&lt;/h{{ number }}&gt;</span>
					</div>
				</Code>
			</div>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Heading</h2>
			<p v-for="number in 6" :key="number" :class="'h' + number">
				Text size adjust h{{ number }}
			</p>
			<div class="f-14">
				<!-- prettier-ignore -->
				<Code>
					<div v-for="number in 6" :key="number">
						<span class="tag">&lt;p class=<span class="attribute">"h{{ number }}"</span>&gt;</span>Text size adjust h{{ number }}<span class="tag">&lt;/p&gt;</span>
					</div>
				</Code>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.font-fira {
	font-family: $font-mono;
}
</style>
