<template>
	<div class="text-white home font-fira">
		<header class="flex header font-fira h4">
			<img
				src="../assets/img/baze-flat-icon.png"
				class="header--logo"
				alt="baze"
			/>
			Baze UI
		</header>
		<main class="home-content font-fira">
			<img src="../assets/img/site-main.png" class="mb-24 logo" alt="Baze" />
			<p class="h3 mb-36">A minimal setup for your frontend environment</p>
			<div class="bzg">
				<div class="mb-16 bzg_c" data-col="s12 m5 l4" data-offset="m1 l2">
					<NuxtLink
						to="/get-started"
						class="btn--primary btn--block text-caps text-light"
					>
						get started
					</NuxtLink>
				</div>
				<div class="mb-16 bzg_c" data-col="s12 m5 l4">
					<NuxtLink
						to="/get-started"
						class="btn--ghost-white btn--block text-caps text-light"
						>download</NuxtLink
					>
				</div>
			</div>
		</main>
		<footer class="text-center footer f-14">
			<span class="mr-16"> Version 2.20.0 </span>
			|
			<span class="ml-16">Powered by: Suitmedia.com </span>
		</footer>
	</div>
</template>

<script>
export default {
	layout: 'blank',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.home {
	width: 100%;
	height: 100vh;
	background-color: #555;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.header {
		gap: 16px;
		padding: 20px;
		line-height: 35px;
		width: 100%;
		font-weight: 800;

		@include mq(768px) {
			padding: 20px 50px;
		}

		&--logo {
			width: 35px;
			height: 35px;
		}
	}

	.home-content {
		margin: 0 auto;
		text-align: center;
		width: 50%;
		max-width: 746px;

		.logo {
			max-width: 125px;
		}

		.btn--ghost-white:hover {
			color: black;
		}

		&.font-fira {
			font-family: 'Fira Mono', monospace;
		}
	}

	.footer {
		padding: 20px 0;
		font-size: 0.875rem;
	}
}
</style>
