<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Lists</h2>
			<div class="ml-24">
				<h5>Ordered List</h5>
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>
						Incidunt magni consequatur adipisci officiis vero placeat
						consectetur
					</li>
					<li>
						id facere,
						<ol type="a">
							<li>molestiae in,</li>
							<li>ducimus necessitatibus hic ad esse consequuntur</li>
						</ol>
					</li>
					<li>dignissimos sequi illum doloremque.</li>
				</ol>
				<Code>
					<table>
						<tr>
							<span class="tag">&lt;ol&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span
								>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span
							>
							<span class="tag">&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span
								>Incidunt magni consequatur adipisci officiis vero placeat
								consectetur</span
							>
							<span class="tag">&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>id facere,</span>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;ol type=<span class="attribute">"a"</span>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-3 tag">&lt;li&gt;</span>
							<span>molestiae in,</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-3 tag">&lt;li&gt;</span>
							<span>ducimus necessitatibus hic ad esse consequuntur</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-2 tag">&lt;/ol&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/ol&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>dignissimos sequi illum doloremque.</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/ol&gt;</span>
						</tr>
					</table>
				</Code>
				<br />
				<h5>Unordered List</h5>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>
						Incidunt magni consequatur adipisci officiis vero placeat
						consectetur
					</li>
					<li>
						id facere,
						<ul>
							<li>molestiae in,</li>
							<li>ducimus necessitatibus hic ad esse consequuntur</li>
						</ul>
					</li>
					<li>dignissimos sequi illum doloremque.</li>
				</ul>
				<Code>
					<table>
						<tr>
							<span class="tag">&lt;ul&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span
								>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span
							>
							<span class="tag">&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span
								>Incidunt magni consequatur adipisci officiis vero placeat
								consectetur</span
							>
							<span class="tag">&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>id facere,</span>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;ul type=<span class="attribute">"a"</span>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-3 tag">&lt;li&gt;</span>
							<span>molestiae in,</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-3 tag">&lt;li&gt;</span>
							<span>ducimus necessitatibus hic ad esse consequuntur</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-2 tag">&lt;/ul&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/ul&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>dignissimos sequi illum doloremque.</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/ul&gt;</span>
						</tr>
					</table>
				</Code>
				<br />
				<h5>Inline List</h5>
				<ol class="list-inline">
					<li>Lorem ></li>
					<li>Ipsum ></li>
					<li>Dolor</li>
				</ol>
				<Code>
					<table>
						<tr>
							<span class="tag"
								>&lt;ol class=<span class="attribute">"list-inline"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>Lorem ></span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>Ipsum ></span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>Dolor</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/ol&gt;</span>
						</tr>
					</table>
				</Code>
				<br />
				<h5>No Style List</h5>
				<ul class="list-nostyle">
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>
						Incidunt magni consequatur adipisci officiis vero placeat
						consectetur
					</li>
					<li>
						id facere,
						<ul>
							<li>molestiae in,</li>
							<li>ducimus necessitatibus hic ad esse consequuntur</li>
						</ul>
					</li>
					<li>dignissimos sequi illum doloremque.</li>
				</ul>
				<Code>
					<table>
						<tr>
							<span class="tag"
								>&lt;ul class=<span class="attribute">"list-nostyle"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span
								>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span
							>
							<span class="tag">&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span
								>Incidunt magni consequatur adipisci officiis vero placeat
								consectetur</span
							>
							<span class="tag">&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>id facere,</span>
						</tr>
						<tr>
							<span class="tab-2 tag"
								>&lt;ul type=<span class="attribute">"a"</span>&gt;</span
							>
						</tr>
						<tr>
							<span class="tab-3 tag">&lt;li&gt;</span>
							<span>molestiae in,</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-3 tag">&lt;li&gt;</span>
							<span>ducimus necessitatibus hic ad esse consequuntur</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tab-2 tag">&lt;/ul&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;/ul&gt;</span>
						</tr>
						<tr>
							<span class="tab-1 tag">&lt;li&gt;</span>
							<span>dignissimos sequi illum doloremque.</span>
							<span>&lt;/li&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/ul&gt;</span>
						</tr>
					</table>
				</Code>
				<br />
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style></style>
