<template>
	<main class="container">
		<div class="mb-24">
			<h2 class="text-primary font-fira">Table</h2>
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr>
							<th>Header 1</th>
							<th>Header 2</th>
							<th>Header 3</th>
							<th>Header 4</th>
							<th>Header 5</th>
							<th>Header 6</th>
							<th>Header 7</th>
							<th>Header 8</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Row 2 Col 1</td>
							<td>Row 2 Col 2</td>
							<td>Row 2 Col 3</td>
							<td>Row 2 Col 4</td>
							<td>Row 2 Col 5</td>
							<td>Row 2 Col 6</td>
							<td>Row 2 Col 7</td>
							<td>Row 2 Col 8</td>
						</tr>
						<tr>
							<td>Row 3 Col 1</td>
							<td>Row 3 Col 2</td>
							<td>Row 3 Col 3</td>
							<td>Row 3 Col 4</td>
							<td>Row 3 Col 5</td>
							<td>Row 3 Col 6</td>
							<td>Row 3 Col 7</td>
							<td>Row 3 Col 8</td>
						</tr>
						<tr>
							<td>Change</td>
							<td>Window</td>
							<td>size</td>
							<td>to see</td>
							<td>Table</td>
							<td>Wrapper</td>
							<td>in</td>
							<td>action!</td>
						</tr>
					</tbody>
				</table>
			</div>
			<Code>
				<table>
					<template>
						<tr>
							<span class="tag"
								>&lt;div class=<span class="attribute">"table-wrapper"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tag tab-1"
								>&lt;table class=<span class="attribute">"table"</span
								>&gt;</span
							>
						</tr>
						<tr>
							<span class="tag tab-2">&lt;thead&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-3">&lt;tr&gt;</span>
						</tr>
						<tr v-for="number in 8" :key="number">
							<span class="tag tab-4">&lt;th&gt;</span
							>Header
							{{
								number
							}}<span class="tag">&lt;/th&gt;</span>
						</tr>
						<tr></tr>
						<tr>
							<span class="tag tab-3">&lt;/tr&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-2">&lt;/thead&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-2">&lt;tbody&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-3">&lt;tr&gt;</span>
						</tr>
						<tr v-for="number in 8" :key="number">
							<span class="tag tab-4">&lt;td&gt;</span
							>Row 2 Col
							{{
								number
							}}<span class="tag">&lt;/td&gt;</span>
						</tr>
						<tr></tr>
						<tr>
							<span class="tag tab-3">&lt;/tr&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-3">&lt;tr&gt;</span>
						</tr>
						<tr v-for="number in 8" :key="number">
							<span class="tag tab-4">&lt;td&gt;</span
							>Row 3 Col
							{{
								number
							}}<span class="tag">&lt;/td&gt;</span>
						</tr>
						<tr></tr>
						<tr>
							<span class="tag tab-3">&lt;/tr&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-3">&lt;tr&gt;</span>
						</tr>
						<tr v-for="data in row4" :key="data">
							<span class="tag tab-4">&lt;td&gt;</span
							>{{
								data
							}}<span class="tag">&lt;/td&gt;</span>
						</tr>
						<tr></tr>
						<tr>
							<span class="tag tab-3">&lt;/tr&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-2">&lt;/tbody&gt;</span>
						</tr>
						<tr>
							<span class="tag tab-1">&lt;/table&gt;</span>
						</tr>
						<tr>
							<span class="tag">&lt;/div&gt;</span>
						</tr>
					</template>
				</table>
			</Code>
			<hr />
		</div>
		<div class="mb-24">
			<h2 class="text-primary font-fira">Table</h2>
			<table
				class="mb-4 js-datatable"
				data-table="https://reqres.in/api/users?page=1&per_page=12"
			>
				<thead>
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
					</tr>
				</thead>
			</table>
			<Code>Not available at the moment</Code>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			row4: [
				'Change',
				'Window',
				'size',
				'to see',
				'Table',
				'Wrapper',
				'in',
				'action!'
			]
		}
	}
}
</script>

<style></style>
